# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg

# Virtual environment
venv/
env/
.venv/

# VSCode / IDE
.vscode/
.idea/

# macOS
.DS_Store

#Things *about* the project, but not contained in the project
_meta_project/